/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oswald&display=swap");

/* BASIC STYLES */
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: hsla(240, 20%, 99%, 0.897);
}

h1,
h2,
h3 {
  color: hsl(207, 4%, 16%);
  font-weight: 500;
  font-size: 0.938rem;
}

ul,
li {
  list-style: none;
}

.brsmall {
  margin-top: 500px;
}

img {
  height: auto;
  display: block;
  content-visibility: auto;
}

/* LANDING */
.landing-page {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.landing-container {
  text-align: center;
}

.landing-logo {
  display: block;
  margin: 0 auto;
  padding: 5%;
  max-width: 80%;
  height: auto;
  animation: fade-in 1.5s ease-out forwards;
}

.enter-text {
  color: #383838;
  margin-top: 50px;
  font-size: 20px;
  text-decoration: none;
  font-size: 3rem;
  font-family: "Oswald", serif;
  cursor: pointer;
  animation: fade-in 1.5s ease-out forwards;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.enter-text:hover {
  transform: scale(1.1);
  color: rgb(157, 157, 157);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Hero Slider */
.slick-slider {
  width: 100%;
}

.slick-slide img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  z-index: -1;
}

.slide-text {
  text-align: right;
  padding-right: 2%;
}

.ri-arrow-down-s-line {
  vertical-align: -3px;
}

.ri-arrow-right-s-line {
  vertical-align: -3.2px;
}

/* Announcement Bar */
.announcement-bar {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}

.announcement-bar a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.announcement-bar a:hover {
  color: #000;
}

.announcement-bar a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.announcement-bar a:hover::before {
  transform: scaleX(1);
}

/* Navbar */
.navbar {
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px;
}

.logo-text {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}

.menu-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-items li {
  margin-left: 15px;
  position: relative;
}

.menu-items a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

/* Lighten the navbar links text on hover */
.menu-items a:hover {
  color: #999;
}

/* Lighten the dropdown and submenu links text on hover */
.menu-items li:hover > ul li a:hover {
  color: #999;
}

/* Dropdown menus */
.menu-items ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px 30px;
  padding-left: 10%;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Slide-down effect */
.menu-items li.dropdown:hover > ul {
  display: block;
  animation: slideDown 0.3s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-items ul li {
  margin: 10px 0;
  list-style: none;
  position: relative;
}

.menu-items ul a {
  color: #000;
  text-decoration: none;
}

.menu-items ul li a {
  color: #000;
  text-decoration: none;
  display: block;
  padding-bottom: 8px;
  border-bottom: 1.5px solid #e8e8e8;
}

.menu-items ul ul {
  position: absolute;
  left: 100%;
  top: -34%;
  min-width: 220px;
  padding-left: 20%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* Hover styles for dropdown */
.menu-items li:hover > ul {
  display: block;
}

.menu-items li ul li a:hover {
  background-color: #fff;
  color: #000;
}

.menu-items ul a:hover {
  color: #999;
}

/* Responsive styles */
@media screen and (max-width: 920px) {
  .logo img {
    height: 50px;
  }

  .logo-text {
    font-size: 20px;
  }

  .home-text {
    padding: 0;
  }

  .menu-toggle {
    display: flex;
  }

  .hamburger .line {
    width: 100%;
    height: 3px;
    transition: transform 0.3s, opacity 0.3s;
  }

  .menu-toggle.active .line:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-items {
    display: none;
    font-size: 14px;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  .menu-items.show {
    display: flex;
  }

  .menu-items li {
    margin: 10px 0;
  }

  .slide-text {
    display: none;
  }

  .swiper-slide img {
    padding-bottom: 30px;
  }

  /* Adjust the styles for mobile dropdown */
  .menu-items ul {
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .menu-items ul li {
    margin: 0;
    margin-top: 8px;
  }

  .menu-items ul a {
    padding: 10px 0;
    border-bottom: none;
  }

  /* Adjust the styles for mobile submenu */
  .menu-items ul ul {
    position: static;
    top: auto;
    left: auto;
    min-width: 100%;
    padding-left: 0;
  }
}

.home-text {
  margin-top: -50px;
  padding: 2rem;
  text-align: center;
}

.home-title {
  font-size: 40px;
  font-family: "Oswald", serif;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex: 1;
  max-width: 33.33%;
  padding: 1%;
}

.flex-item img {
  width: 100%;
  height: auto;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-item {
    max-width: 100%;
  }
}

footer {
  width: 100%;
  bottom: 0;
  display: block;
}

.footer-container {
  padding: 1rem;
  text-align: center;
  background-color: #eee;
}

.footer-list,
.footer-social,
.footer-copy {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.footer-list {
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-social {
  column-gap: 1.25rem;
  padding-bottom: 15px;
}

.footer-text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.footer-social-link {
  font-size: 1.25rem;
  color: black;
  transition: transform 0.4s;
  text-decoration: none;
}

.footer-social-link:hover {
  transform: translateY(-0.25rem);
}

.footer-copy {
  padding-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;
}

.footer-text a {
  position: relative;
  color: black;
  text-decoration: none;
}

.footer-text a:hover {
  color: black;
}

.footer-text a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s;
}

.footer-text a:hover::before {
  transform: scaleX(1);
}

/* Media queries for small phone screens */
@media screen and (max-width: 480px) {
  .footer-list {
    column-gap: 1.25rem;
    margin-top: 1.5rem;
  }

  .footer-social {
    column-gap: 0.75rem;
    padding: 3px;
  }

  .footer-text,
  .footer-copy {
    font-size: 10.5px;
  }

  .footer-social-link {
    font-size: 1rem;
  }

  .footer-copy {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/* VIDEOGRAPHY COLUMNS */
.card {
  position: relative;
  background-color: #eee;
  padding: 10px;
  border-radius: 4px; /* Optional: Add border radius for a more professional look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

.card img {
  padding-bottom: 5px;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  padding-bottom: 15px;
}

.card-text {
  font-size: 14px; /* Adjust the font size to your preference */
  color: #555; /* Optional: Change the text color for better readability */
}

.vid-span {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.about {
  background-image: url("../img/tony-everywhere-multomah-falls.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

/* GALLERY */
.gallery-page {
  padding: 16px 1rem 1rem 1rem;
}

.gallery-page img {
  width: 100%;
}

.gallery-auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 0.5rem;
}

.gallery-span {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px;
  grid-gap: 0.5rem;
  grid-auto-flow: dense;
}

.gallery-item {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.gallery-img {
  height: 100%;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.w-1,
.w-2,
.w-3,
.w-4,
.w-5,
.w-6 {
  grid-column: span 1;
}

.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  grid-row: span 1;
}

/* MEDIA QUERIES LARGE SCREENS FOR GALLERY */
@media (min-width: 600px) {
  .gallery-span {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .w-1 {
    grid-column: span 1;
  }

  .w-2 {
    grid-column: span 2;
  }

  .w-3 {
    grid-column: span 3;
  }

  .w-4 {
    grid-column: span 4;
  }

  .w-5 {
    grid-column: span 5;
  }

  .w-6 {
    grid-column: span 6;
  }

  .h-1 {
    grid-row: span 1;
  }

  .h-2 {
    grid-row: span 2;
  }

  .h-3 {
    grid-row: span 3;
  }

  .h-4 {
    grid-row: span 4;
  }

  .h-5 {
    grid-row: span 5;
  }

  .h-6 {
    grid-row: span 6;
  }
}

/* STATUS COLOR */
.color-red {
  color: hsl(4, 71%, 50%);
}

.color-blue {
  color: hsl(207, 56%, 45%);
}

.tony-bio {
  padding: 3%;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.753);
  font-size: 1rem;
  width: 77%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bio-container {
  max-width: 900px;
  margin: 0 auto;
}

.bio-title {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  font-family: "Oswald", serif;
  padding-bottom: 30px;
  text-align: center;
}

.bio-section {
  background-image: url("../img/tony-everywhere-multomah-falls.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

/* CONTACT PAGE */
.contact-background {
  background-image: url("../img/lego-photography-Escaped-Pilot.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-container {
  width: 100%;
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form {
  border-radius: 10px;
  margin: 0 auto;
}

#contact-form input,
#contact-message {
  border: 2px solid #a1a1a1;
  border-radius: 2rem;
  z-index: 1;
}

.contact__form-tag,
.questions {
  font-family: "Oswald";
  font-weight: bold;
}

.red {
  color: red;
}

.submit {
  font-family: "Oswald";
  font-size: 1rem;
}

.questions {
  padding: 3%;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

form {
  background-color: rgba(255, 255, 255, 0.881);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
}

form h3 {
  font-weight: 800;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  font-size: 13px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

form button {
  padding: 15px;
  background: #6c6c6c;
  color: #fff;
  border: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin: 20px auto 0;
  width: 100%;
  transition: 0.3s ease background-color;
}

form button:hover {
  background-color: #949494;
}

@media only screen and (max-width: 866px) {
  html {
    background-color: #fff;
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }

  .gallery-page {
    margin-inline-start: 0;
    padding: 0;
  }

  .flex-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .flex-item {
    width: 100%;
  }

  .tony-bio {
    padding: 0;
    margin: 20px auto;
    box-shadow: none;
  }

  .about {
    background: none;
  }

  .column {
    margin: 0 auto;
  }

  .about-text {
    font-size: 0.8rem;
  }

  /* VIDEOGRAPHY COLUMNS */

  .vid-span {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    padding-bottom: 10px;
  }

  .card {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card-title {
    text-align: center;
  }

  .card-text {
    display: none;
  }

  .text {
    font-size: 0.75rem;
  }

  .questions {
    font-size: 1.3rem;
  }

  form {
    width: 100%;
  }

  .mobile {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 991px) {
  header label {
    display: initial;
  }

  .about {
    background-repeat: no-repeat;
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .landing-logo {
    max-width: 60%;
    padding-top: 0;
  }
}

/* Extra large devices (large laptops and desktops, 2000px and up) */
@media only screen and (min-width: 2000px) {
  .landing-logo {
    max-width: 90%;
  }

  .about {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
  }

  .contact-background {
    background-position: 25% 75%;
  }
}
